In [2]:
import streamlit as st
import pandas as pd
import altair as alt

In [3]:
df = pd.read_csv("higher_ed_employee_salaries.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934348 entries, 0 to 934347
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Name             934348 non-null  object
 1   School           934348 non-null  object
 2   Job Description  907680 non-null  object
 3   Department       873896 non-null  object
 4   Earnings         924673 non-null  float64
 5   Year             934348 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 42.8+ MB

In [9]:
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')